* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    /*text-align: center;*/
    background: url("../img/bg.png") no-repeat center;
    background-size: cover;
}

.con {
    height: 200px;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
}

.form-title {
    background: url("../img/header.png") center no-repeat;
    background-size: cover;
    height: 130px;
    color: white;
    font-size: 35px;
    font-family: Helvetica, serif;
    text-align: center;
}

.item {
    padding-top: 45px;
}